<%- if location.booking_location %>
  <span class="label label-primary label--inline">Child location</span>
<% else %>
  <span class="label label-danger label--inline">Booking location</span>
<% end %>
<% if location.online_booking_enabled? %>
  <span class="label label-success label--inline">Online booking</span>
<% end %>
