<%- if location.booking_location %>
  <span class="label label-primary label--inline">Child location</span>
<% else %>
  <span class="label label-danger label--inline">Booking location</span>
<% end %>
