<div class="row">
  <div class="col-md-12">
    <h1 class="inline-block">Edit Location - <%= @location.title %></h1>
    <%= render 'admin/locations/labels', location: @location %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form', location: @location %>
  </div>
</div>
