<div class="row">
  <div class="col-md-12">
    <h1 class="inline-block">Edit Location - <%= @location.title %></h1>
    <%- if @location.booking_location %>
      <span class="label label-primary label--inline">Child location</span>
    <% else %>
      <span class="label label-danger label--inline">Booking location</span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form', location: @location %>
  </div>
</div>
