<% %i(success error alert notice).each do |type| %>
  <% if message = flash[type] %>
    <div class="alert <%= bootstrap_alert_class_for(type) %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><%= message %></strong>
    </div>
  <% end %>
<% end %>
