---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=UB9%204LH&key=&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "UB9 4LH",
                       "short_name" : "UB9 4LH",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Denham",
                       "short_name" : "Denham",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Uxbridge",
                       "short_name" : "Uxbridge",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Buckinghamshire",
                       "short_name" : "Buckinghamshire",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denham, Uxbridge UB9 4LH, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5741771,
                          "lng" : -0.5254809
                       },
                       "southwest" : {
                          "lat" : 51.5734,
                          "lng" : -0.5281973999999999
                       }
                    },
                    "location" : {
                       "lat" : 51.5736646,
                       "lng" : -0.5271899
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5751375302915,
                          "lng" : -0.5254809
                       },
                       "southwest" : {
                          "lat" : 51.57243956970851,
                          "lng" : -0.5281973999999999
                       }
                    }
                 },
                 "place_id" : "ChIJsew_GhlvdkgRHq3_zO7txTM",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 26 Mar 2018 16:27:01 GMT
recorded_with: VCR 4.0.0
