---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=LA6%202BG&key=&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "LA6 2BG",
                       "short_name" : "LA6 2BG",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Bective Road",
                       "short_name" : "Bective Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Kirkby Lonsdale",
                       "short_name" : "Kirkby Lonsdale",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Carnforth",
                       "short_name" : "Carnforth",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Cumbria",
                       "short_name" : "Cumbria",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Bective Rd, Kirkby Lonsdale, Carnforth LA6 2BG, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 54.2027558,
                          "lng" : -2.5986924
                       },
                       "southwest" : {
                          "lat" : 54.20209149999999,
                          "lng" : -2.6000472
                       }
                    },
                    "location" : {
                       "lat" : 54.2023933,
                       "lng" : -2.5994648
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 54.2037726302915,
                          "lng" : -2.598020819708498
                       },
                       "southwest" : {
                          "lat" : 54.2010746697085,
                          "lng" : -2.600718780291502
                       }
                    }
                 },
                 "place_id" : "ChIJh0FcX0yGfEgR4W155B1p8c4",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 26 Mar 2018 16:29:31 GMT
recorded_with: VCR 4.0.0
