.js .filter__submit {
  display: none;
}

.pagination__letter {
  display: inline;

  .pagination__label {
    display: inline;

    background-color: #fff;
    padding: 6px 12px;
    border: 1px solid #ddd;
    color: #337ab7;
    font-weight: normal;
    margin-left: -1px;
    float: left;
    line-height: 20px;
    box-sizing: border-box;
  }
}

.pagination__checkbox:disabled + .pagination__label {
  cursor: not-allowed;
  color: #999999;
  background-color: #fff;
}

.pagination__checkbox:checked + .pagination__label {
  cursor: default;
  color: #fff;
  border-color: #337ab7;
  background-color: #337ab7;
}

.pagination__label:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.pagination__checkbox {
  display: none;
}
