---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=RH1%206EW&key=&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "RH1 6EW",
                       "short_name" : "RH1 6EW",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Emlyn Road",
                       "short_name" : "Emlyn Rd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Redhill",
                       "short_name" : "Redhill",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Surrey",
                       "short_name" : "Surrey",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Emlyn Rd, Redhill RH1 6EW, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.2290181,
                          "lng" : -0.1657942
                       },
                       "southwest" : {
                          "lat" : 51.2273924,
                          "lng" : -0.1674792
                       }
                    },
                    "location" : {
                       "lat" : 51.2284623,
                       "lng" : -0.1669538
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.2295542302915,
                          "lng" : -0.165287719708498
                       },
                       "southwest" : {
                          "lat" : 51.2268562697085,
                          "lng" : -0.167985680291502
                       }
                    }
                 },
                 "place_id" : "ChIJaaE2oyP7dUgR0zciQ2_Kfws",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 26 Mar 2018 16:27:06 GMT
recorded_with: VCR 4.0.0
